@using Microsoft.AspNetCore.Identity
@model IEnumerable<NicksUsedCars.Models.Vehicle>
@inject UserManager<ApplicationUser> _UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    @if (await IdentityExtension.IsManagerOrAbove(_UserManager, await _UserManager.GetUserAsync(User)))
    {
        <div class="col-sm-2">
            <a class="btn btn-success" asp-action="Create">Create New</a>
        </div>
    }

    @if (await IdentityExtension.IsEmployeeOrAbove(_UserManager, await _UserManager.GetUserAsync(User)))
    {
        <div class="col-sm-2">
            <a class="btn btn-primary" asp-action="ViewVehicleWaitList">Vehicle Wait Lists</a>
        </div>
    }
        <div class="col-sm-2">
            <a class="btn btn-info" asp-action="Search">Search</a>
        </div>
</div>




@await  Html.PartialAsync("_CarList", Model)
