@model IEnumerable<NicksUsedCars.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<p>
    <a class="btn" asp-action="Search">Search</a>
</p>


@await  Html.PartialAsync("_CarList", Model)
