
@{
    ViewData["Title"] = "About";
}

<h1>Nick's Used Cars</h1>

<h2>Trust us, we are the only honest dealership</h2>

<p>
    Lorem ipsum woyld go here to hold place for real text
</p>

<h3>Contact Us</h3>
<p>
    Email us at <a href="mailto:support@nickscars.com">support@nickscars.com</a>
</p>