
@{
    ViewData["Title"] = "Contact Us";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr>
        <td>
            Owner
        </td>
        <td>
            Nick Olmsted
        </td>
        <td>
            (253) 444-3434
        </td>
        <td>
            <a href="mailto:nickolmsted@nickscars.com">nickolmsted@nickscars.com</a>
        </td>
    </tr>
</table>