@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nick's Used Car Dealership</h1>
    <hr />
    <p>
        View some of our wide array of inventory, <br />
        or come learn <a asp-action="About">about us</a> and why you should buy your next vehicle here
    </p>
</div>
